-- vi:syntax=lua

-- colors
local M = {}

M.base00 = "{{base00-hex}}"
M.base01 = "{{base01-hex}}"
M.base02 = "{{base02-hex}}"
M.base03 = "{{base03-hex}}"
M.base04 = "{{base04-hex}}"
M.base05 = "{{base05-hex}}"
M.base06 = "{{base06-hex}}"
M.base07 = "{{base07-hex}}"
M.base08 = "{{base08-hex}}"
M.base09 = "{{base09-hex}}"
M.base0A = "{{base0A-hex}}"
M.base0B = "{{base0B-hex}}"
M.base0C = "{{base0C-hex}}"
M.base0D = "{{base0D-hex}}"
M.base0E = "{{base0E-hex}}"
M.base0F = "{{base0F-hex}}"

vim.g.terminal_color_0 =  "#{{base00-hex}}"
vim.g.terminal_color_1 =  "#{{base08-hex}}"
vim.g.terminal_color_2 =  "#{{base0B-hex}}"
vim.g.terminal_color_3 =  "#{{base0A-hex}}"
vim.g.terminal_color_4 =  "#{{base0D-hex}}"
vim.g.terminal_color_5 =  "#{{base0E-hex}}"
vim.g.terminal_color_6 =  "#{{base0C-hex}}"
vim.g.terminal_color_7 =  "#{{base05-hex}}"
vim.g.terminal_color_8 =  "#{{base03-hex}}"
vim.g.terminal_color_9 =  "#{{base08-hex}}"
vim.g.terminal_color_10 = "#{{base0B-hex}}"
vim.g.terminal_color_11 = "#{{base0A-hex}}"
vim.g.terminal_color_12 = "#{{base0D-hex}}"
vim.g.terminal_color_13 = "#{{base0E-hex}}"
vim.g.terminal_color_14 = "#{{base0C-hex}}"
vim.g.terminal_color_15 = "#{{base07-hex}}"
vim.g.terminal_color_background = vim.g.terminal_color_0
vim.g.terminal_color_foreground = vim.g.terminal_color_5

return M
