-- vi:syntax=lua

-- colors
local M = {}

M.base00 = "{{base00-hex}}"
M.base01 = "{{base01-hex}}"
M.base02 = "{{base02-hex}}"
M.base03 = "{{base03-hex}}"
M.base04 = "{{base04-hex}}"
M.base05 = "{{base05-hex}}"
M.base06 = "{{base06-hex}}"
M.base07 = "{{base07-hex}}"
M.base08 = "{{base08-hex}}"
M.base09 = "{{base09-hex}}"
M.base0A = "{{base0A-hex}}"
M.base0B = "{{base0B-hex}}"
M.base0C = "{{base0C-hex}}"
M.base0D = "{{base0D-hex}}"
M.base0E = "{{base0E-hex}}"
M.base0F = "{{base0F-hex}}"

return M
