xset r rate 210 40 &
wal -R &
xmodmap $HOME/.xmodmaprc &
sxhkd &
mopidy &
greenclip daemon &
setxkbmap -model pc105 -layout us,ru,ua -option grp:alt_shift_toggle &
nm-applet &
picom --experimental-backends &
xfce4-power-manager &
udiskie &
optimus-manager-qt &
lxsession &
$HOME/scripts/restoreautorice &
# easyeffects --gapplication-service &
noisetorch -i &
feh --bg-fill $WALLPAPER

xrandr --dpi 96
setxkbmap -option caps:escape
xmodmap -e "keycode 94 = Shift_L"

# xmodmap -e "keycode 108 = Mode_switch"
# xmodmap -e "keycode 43 = h H Left Left"
# xmodmap -e "keycode 44 = j J Down Down"
# xmodmap -e "keycode 45 = k K Up Up"
# xmodmap -e "keycode 46 = l L Right Right"
